@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: lightgray;
    font-family: 'Indie Flower', cursive;
}

h1, h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

h5 {
    font-size: 30px;
}

.navbar {
    margin-bottom: 10px;
}

.card-body{
    text-align: center;
}

.card-title{
    border: 1px black solid;
}

.card-header{
    text-decoration: underline;
}

.navbar a:hover {
    background: #ddd;
    color: black;
  }
  